@import "mixins"

// Load Custom Fonts ----------------------------

+font-face("Proxima Nova Soft", "../fonts/proxima-nova-soft-webfont");
+font-face("Proxima Nova Soft", "../fonts/proxima-nova-soft-semibold-webfont", bold);

// Variables ------------------------------------

// Colors
$primary-color: #fc4c02
$secondary-color: #ffa41a

$font-color: #999
$font-color-dark: #222
$link-color: #5af
$border-color: #ddd

$code-bg-color: #444
$bg-color: #fff

$twitter-color: #00aced
$fb-color: #325a97

// Layout
$page-max-width: 400px
$post-max-width: 480px
$code-max-width: 800px


// Typography -----------------------------------

body,
input,
button,
textarea
  +font-regular
  font-size: 15px

body
  padding: 0
  margin: 0
  color: $font-color
  background-color: $bg-color

a
  color: $font-color-dark

h1,
h2,
h3,
h4,
h5,
h6
  color: $font-color-dark
  margin-top: 1.2em

h1
  font-size: 36px
  line-height: 1.1em
  margin-bottom: 0.5em

h2
  font-size: 18px
  margin-top: 0.8em

p
  line-height: 1.5em

ol,
ul
  color: $font-color-dark

ul
  list-style: square
  list-style-position: inside

ol
  list-style-position: inside

li
  margin-bottom: 0.5em

// Forms and Buttons ----------------------------

.btn
  display: inline-block
  padding: 8px 12px
  margin-right: 16px
  margin-bottom: 16px
  border: 2px solid $font-color-dark
  background-color: white
  font-weight: bold
  text-decoration: none
  &:hover
    color: $bg-color
    background-color: $font-color-dark
    cursor: pointer

.twitter-btn
  @extend .btn
  color: white
  background-color: $twitter-color
  border-color: $twitter-color
  &:hover
    background-color: darken($twitter-color, 10%)
    border-color: darken($twitter-color, 10%)

.fb-btn
  @extend .btn
  color: white
  border-color: $fb-color
  background-color: $fb-color
  &:hover
    background-color: darken($fb-color, 20%)
    border-color: darken($fb-color, 20%)

// Images and Video -----------------------------

img
  display: block

// Code -----------------------------------------

pre
  overflow: auto
  max-width: $code-max-width
  margin: 0 auto
  padding: 12px 16px
  background-color: $code-bg-color
  font-size: 13px
  +font-monospace
  line-height: 1.5em

// Partial --------------------------------------

.bio
  &__name
    font-weight: bold
    color: $font-color-dark

// Masthead -------------------------------------
// Currently only displayed on post pages.

.masthead
  display: block
  padding: 12px 0
  border-bottom: 1px solid $border-color
  color: $font-color
  text-decoration: none

  &:hover
    background-color: #f3f3f3

  &__content
    +align-post-center
    width: 100%
    text-align: center

.tagline
  display: flex
  align-items: center
  justify-content: center

  &__avatar
    display: inline-block
    width: 32px
    height: 32px
    margin: 0 8px
    border-radius: 50%


// Homepage -------------------------------------

.page
  max-width: $page-max-width
  margin: 0 auto
  padding: 8px


// Blog Post ------------------------------------

.post
  margin-bottom: 32px

  &__title
    +align-post-center

  &__content
    margin-bottom: 16px

    > p,
    > h1,
    > h2,
    > h3,
    > h4,
    > .media
      +align-post-center

    > ul,
    > ol
      max-width: $post-max-width
      margin-left: auto
      margin-right: auto

// .figure vs .media
// Use .figure for displaying images with optional captions in single column.
// For two columns, use .media.
.figure
  display: table
  margin: 0 auto 16px auto
  img
    max-width: 100%
    margin-bottom: 8px

  &__caption
    display: table-caption
    caption-side: bottom
    margin-bottom: 16px
    padding-left: 8px
    padding-right: 8px

.figure--right
  @extend .figure
  float: right
  margin: 0 16px 16px 0

.media
  display: flex
  max-width: $post-max-width
  margin: 0 auto
  padding-left: 16px
  padding-right: 16px

  &__figure
    margin-right: 16px
  &__body


.post-column
  max-width: $post-max-width
  margin: 0 auto

// Twitter, FB, etc. share buttons
.post-sharing
  +align-post-center

// Small bio after each post
.post-bio
  margin-top: 32px

  &__content
    +align-post-center
    padding-top: 32px
    padding-bottom: 32px
    border-top: 1px solid $border-color

  &__title
    margin-top: 0

.post-bio__btn
  @extend .btn

// Posts ------------------------------------

// Baseball Pitches Illustrated
.pitches
  padding: 32px 0
  margin: 32px 0
  border-top: 1px solid $border-color
  border-bottom: 1px solid $border-color

.pitch
  @extend .media
  padding-bottom: 32px
  margin-bottom: 32px
  border-bottom: 1px solid $border-color

  &:last-of-type
    padding-bottom: 0
    margin-bottom: 0
    border-bottom: none

  &__figure
    @extend .media__figure

  &__title
    margin: 0 0 0.5em 0

  &__speed
    margin: 0 0 0.5em 0

  &__notes
    margin-top: 0.6em

// Coffee Drinks Illustrated
.figure--coffee-drinks
  @extend .figure
  max-width: 640px

// Design Observations in the Wild
.figure--design-obs
  @extend .figure

  img
    min-width: $post-max-width
  .figure__caption
    padding-bottom: 32px
    margin-bottom: 32px
    border-bottom: 1px solid $border-color

