<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Venues admin</title>
</head>
<body>

<div id="app">
	<div class="page">
		<div>
			<input type="search" v-model="filter" ref="search" />
			
			<div>
				<div
					v-for="v in venuesFiltered"
					class="venue"
					@click="loadVenue(v)"
				>
					<strong>{{ v.venue }}</strong> • {{ v.id }}<br />
					{{ v.category }} • {{ v.subCategory }}<br />
					{{ v.city }} • {{ v.state }}<br />
					{{ v.count }} visits

				</div>
			</div>
		</div>
		<div>
			<div></div>
			<div>{{ venue }}</div>
			<label>
			  <input type="checkbox" name="goToSpot" v-model="goToSpot" />
			  <span>Go to spot</span>
			</label>
			<label>
			  <input type="checkbox" name="outdoorSeating" v-model="outdoorSeating" />
			  <span>Outdoor seating</span>
			</label>
			<label>
			  <input type="checkbox" name="dateSpot" v-model="dateSpot" />
			  <span>Date spot</span>
			</label>
			<label>
			  <input type="checkbox" name="dateSpot" v-model="wouldTakeVisitors" />
			  <span>Would take visitors</span>
			</label>
			<br />
			<label>
			  <span>Comments:</span><br />
			  <textarea v-model="comments"></textarea>
			</label>			
			<div>
				<button
					type="button"
					@click="saveVenue"
				>
					Save
				</button>
			</div>
		</div>
	</div>
</div>

<style>
	* {
		font-family: menlo;
		font-size: 11px;
	}
	.page {
		display: grid;
		grid-template-columns: 320px auto;
		grid-gap: 16px;
		max-width: 800px;
		margin: 0 auto;
	}

	label {
		display: block;
	}
	textarea {
		width: 24em;
		height: 6em;
	}

	.venue {
		padding: 8px;
	}

	.venue:hover {
		background-color: #ff0;
		cursor: pointer;
	}
</style>


<script src="/src/js/vue.min.js"></script>

<script type="module">
import {
  checkinsToVenues,
} from '/src/js/utils/foursquare.js';


new Vue({
  el: '#app',
  data() {
    return { 
      // Data
      checkins: [],
      venues: [], // checkin venues deduped
      venuesMetadata: [], // The add'l venue meta data file data for saving

      // Filter
      filter: '',

      // Edit form
      id: '',
      venue: '',
      goToSpot: false,
      outdoorSeating: false,
      dateSpot: false,
      wouldTakeVisitors: false,
      comments: '',
    };
  },
  
  mounted() {
    this.$refs.search.focus();

    fetch('/build/data/foursquare-checkins.json')
      .then(res => res.json())
      .then(json => {
        this.checkins = json;
        this.venues = checkinsToVenues(this.checkins);
      })
      .catch((error) => {
        console.log(error);
      })

		fetch('/build/data/places-comments.json')
      .then(res => res.json())
      .then(json => {
      	this.venuesMetadata = json;
      })
      .catch((error) => {
        console.log(error);
      })    
  },
 
	computed: {
 		venuesFiltered() {
	   	if (!this.filter.length) {
    		return this.venues;
    	}

    	return this.venues.filter(v => {
    		return v.venue.toLowerCase().includes(this.filter.toLowerCase());
    	});
		},
	},

	methods: {
	 	loadVenue(v) {
	 		this.resetVenue();

			this.venue = v.venue;
	 		this.id = v.id;

	 		const meta = this.venuesMetadata[v.id];
			if (meta) {				
				this.goToSpot = meta.goToSpot;
				this.outdoorSeating = meta.outdoorSeating;
				this.dateSpot = meta.dateSpot;
				this.wouldTakeVisitors = meta.wouldTakeVisitors;
				this.comments = meta.comments;
	 		}
	 	},

	 	resetVenue() {
	      this.id = '';
	      this.venue = '';
	      this.goToSpot = false;
	      this.outdoorSeating = false;
	      this.dateSpot = false;
	      this.wouldTakeVisitors = false;
	      this.comments = '';
	 	},

	 	saveVenue() {
	 		let obj = this.venuesMetadata[this.id];
	 		if (!obj) {
	 			this.venuesMetadata[this.id] = {};
	 		}

 			let v = this.venuesMetadata[this.id];

	 		let dataProps = ['goToSpot', 'outdoorSeating', 'dateSpot', 'wouldTakeVisitors', 'comments'];

	 		dataProps.forEach(prop => {
	 			if (this[prop]) {
	 				v[prop] = this[prop]
	 			} else {
	 				delete v[prop];
	 			}
	 		})

	 		this.saveJSON();
	 	},

	 	async saveJSON() {
  		const resp = await fetch('http://localhost:3001', {
    		// mode: 'no-cors',
    		method: 'POST',
				headers: new Headers({'content-type': 'application/json'}),
				body: JSON.stringify(this.venuesMetadata),
		  });

		  console.log(resp.status);
		}
	}
});
</script>
</body>
</html>



