<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Venues admin</title>
</head>
<body>

<h3>To-do</h3>
<ul>
	<li>Load any existing venues.json data</li>
	<li>Save edit to JSON (reset on save)</li>
</ul>

<div id="app">
	<div class="page">
		<div>
			<input type="search" v-model="filter" />
			
			<div>
				<div
					v-for="v in venuesFiltered"
					class="venue"
					@click="loadVenue(v)"
				>
					<strong>{{ v.venue }}</strong> • {{ v.venueId }}<br />
					{{ v.category }} • {{ v.subCategory }}<br />
					{{ v.city }} • {{ v.state }}<br />
					{{ v.count }} visits

				</div>
			</div>
		</div>
		<div>
			<div></div>
			<div>{{ venue }}</div>
			<label>
			  <input type="checkbox" name="goToSpot" v-model="goToSpot" />
			  <span>Go to spot</span>
			</label>
			<label>
			  <input type="checkbox" name="outdoorSeating" v-model="outdoorSeating" />
			  <span>Outdoor seating</span>
			</label>
			<label>
			  <input type="checkbox" name="dateSpot" v-model="dateSpot" />
			  <span>Date spot</span>
			</label>
			<label>
			  <input type="checkbox" name="dateSpot" v-model="wouldTakeVisitors" />
			  <span>Would take visitors</span>
			</label>
			<br />
			<label>
			  <span>Comments:</span><br />
			  <textarea v-model="comments"></textarea>
			</label>			
			<div>
				<button type="button">Save</button>
			</div>
		</div>
	</div>
</div>

<style>
	* {
		font-family: menlo;
		font-size: 11px;
	}
	.page {
		display: grid;
		grid-template-columns: 320px auto;
		grid-gap: 16px;
		max-width: 800px;
		margin: 0 auto;
	}

	label {
		display: block;
	}
	textarea {
		width: 24em;
		height: 6em;
	}

	.venue {
		padding: 8px;
	}

	.venue:hover {
		background-color: #ff0;
		cursor: pointer;
	}
</style>


<script src="/src/js/vue.min.js"></script>

<script type="module">
import {
  checkinsToVenues,
} from '/src/js/utils/foursquare.js';


new Vue({
  el: '#app',
  data() {
    return { 
      // Data
      checkins: [],
      venues: [], // checkin venues deduped
      venuesMetadata: [], // The add'l venue meta data file data for saving

      // Filter
      filter: 'millay',

      // Edit form
      venueId: '',
      venue: '',
      goToSpot: false,
      outdoorSeating: false,
      dateSpot: false,
      wouldTakeVisitors: false,
      comments: '',
    };
  },
  mounted() {
    fetch('/src/data/foursquare-checkins.json')
      .then(res => res.json())
      .then(json => {
        this.checkins = json;
        this.venues = checkinsToVenues(this.checkins);
      })
      .catch((error) => {
        console.log(error);
      })

	fetch('/src/data/venuesMetadata.json')
      .then(res => res.json())
      .then(json => {
      	this.venuesMetadata = json;
      })
      .catch((error) => {
        console.log(error);
      })    
  },
 
 computed: {
 	venuesFiltered() {
	   	if (!this.filter.length) {
    		return this.venues;
    	}

    	return this.venues.filter(v => {
    		return v.venue.toLowerCase().includes(this.filter.toLowerCase());
    	});
 	},
 },

 methods: {
 	loadVenue(v) {
 		this.resetVenue();

 		this.venuesMetadata.find(item => {
 			if (item.venueId === v.venueId) {
 				this.venue = v.venue;

 				this.venueId = item.venueId;
 				this.goToSpot = item.goToSpot;
 				this.outdoorSeating = item.outdoorSeating;
 				this.dateSpot = item.dateSpot;
 				this.wouldTakeVisitors = item.wouldTakeVisitors;
 				this.comments = item.comments;
 			}
 		})
 	},

 	resetVenue() {
      this.venueId = '';
      this.venue = '';
      this.goToSpot = false;
      this.outdoorSeating = false;
      this.dateSpot = false;
      this.wouldTakeVisitors = false;
      this.comments = '';
 	},
 }
});
</script>
</body>
</html>

