/* FIGURE ------------------------------------ */

.post-time {
  display: inline;
  content: ". ";
}

/* CANVAS ------------------------------------ */

.canvas {
  border-radius: var(--radius-xl);
  border: 1px solid var(--border-color-light);
}

/* CODEPEN EMBEDS ------------------------------------ */

.cp_embed_wrapper,
iframe {
  margin: 48px 0;
}
