.button-text {
  color: var(--link-color);
  background: none;
  border: none;
  padding-left: 0;
  font-weight: 600;
}

.checkbox {
  margin-right: 2px;
  position: relative;
  bottom: 1px;
}

.checkbox-label {
  display: inline-block;
  padding: 2px 4px 2px 0;
  margin-right: 4px;
  border-radius: var(--border-radius);
  font-size: 14px;
  cursor: pointer;
}

.checkbox-label:hover {
  background-color: #eee;
}
