:root {
  --primary-color: #fc4c02;
  --secondary-color: #f68727;
  --muted-color: #555;

  --nav-width: 140px;
  --gutter: 12px;
  --post-max-width: 960px;
  --text-max-width: 480px;
  --code-max-width: 480px;

  --monospace: Menlo, Consolas, Monaco, Lucida Console, monospace;
}

body,
input,
button,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

/* Reduce font size on desktop. Counter-intuitive, but it looks better and we
tend to keep our phones closer to our eyes. */
@media (min-width: 700px) {
  body,
  input,
  button,
  textarea {
    font-size: 15px;
  }
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

figure {
  margin: 0;
}

hr {
  margin: 32px 0;
  height: 2px;
  border: none;
  background-color: var(--muted-color);
}


h1,
h2,
h3 {
  font-weight: 800;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 20px;
  line-height: 1.3em;
  margin-top: 24px;
}

h3 {
  font-size: 16px;
  margin-top: 24px;
}


a {
  color: #05f;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5em;
}

ul {
  list-style: square;
}

li {
  margin: 0 0 0.5em 1em;
  line-height: 1.3em;
}

pre {
  overflow: auto;
  padding: 16px var(--gutter);
  border-radius: 4px;
  font-size: 13px;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  line-height: 1.6em;
  color: #fff;
  background-color: #000;
}


/* Nav ------------ */
.nav {
  position: relative;
  left: -4px;
  max-width: var(--post-max-width);
  padding: 8px var(--gutter) 16px;
}

.nav__item {
  display: inline-block;
  padding: 4px 4px;
  color: #000;
  font-weight: 700;
}

@media (min-width: 700px) {
  .nav {
    position: fixed;
    left: 0;
    margin-left: 0;
    padding-top: 0;
  }

  .nav__item {
    display: block;
  }
}



/* Posts & Pages ------------ */

.post,
.page {
  position: relative;
  margin-bottom: 64px;
}

/* Posts ------------ */

.post {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}


@media (min-width: 700px) {
  .post,
  .page {
    margin-left: var(--nav-width);
  }
}


.post__content > p,
.post__content > h2,
.post__content > h3,
.post__content > ul,
.post__content > ol,
.post__content > hr {
  max-width: var(--text-max-width);
}

.post__content > .center--720 {
  max-width: 720px;
}

.post__content > .center--960 {
  max-width: 960px;
}

.figure img,
.figure--right img {
  max-width: 100%;
  margin-bottom: 8px;
}

.figure__caption {
  display: table-caption;
  caption-side: bottom;
  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

/* Archive ------------ */

.archive {
  padding-left: 4px ;
}

.archive__post {

}

.archive__draft-label {
  font-weight: bold;
  color: var(--secondary-color);
}

.archive__post-title {
  font-weight: bold;
}

.archive__post-date {
  color: var(--muted-color);
}
