:root {
  --primary-color: #fc4c02;
  --secondary-color: #ffa41a;
  --post-width: 480px;
}

body,
input,
button,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
/*  -webkit-font-smoothing: antialiased*/

}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

img {
  display: block;
}

h1,
h2,
h3 {

  font-weight: 800;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}


a {
  color: #05f;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5em;
}

ul {
  list-style: square;
  list-style-position: inside;
}

ol {
  list-style-position: inside;
}

li {
  margin-bottom: 0.5em;
}

pre {
  overflow: auto;
  padding: 16px;
  border-radius: 4px;
  font-size: 13px;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  line-height: 1.6em;
  color: #fff;
  background-color: #000;
}


/* Nav ------------ */
.nav {
  padding: 16px;
  margin-left: -4px;
}

.nav__item {
  display: inline-block;
  padding: 4px 4px;
  font-size: 15px;
  font-weight: 700;
  color: #999;
}

@media (min-width: 600px) {
  .nav {
    position: fixed;
    margin-left: 0;
  }

  .nav__item {
    display: block;
    color: #000;
  }
}



/* Posts & Pages ------------ */

.post,
.page {
  margin-bottom: 64px;
}

/* Posts ------------ */

.post__title {
  max-width: var(--post-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.post__content > p,
.post__content > h1,
.post__content > h2,
.post__content > h3,
.post__content > h4,
.post__content > pre,
.post__content > .media,
.post__content > .pitch {
  max-width: var(--post-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.post__content > ul,
.post__content > ol {
  max-width: var(--post-width);
  margin-left: auto;
  margin-right: auto;
}

.figure,
.figure--right {
  display: table;
  margin: 0 auto 16px auto;
}

.figure--right {
  float: right;
  margin: 0 16px 16px 0;
}

.figure img,
.figure--right img {
  max-width: 100%;
  margin-bottom: 8px;
}

.figure__caption {
  display: table-caption;
  caption-side: bottom;
  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
