table {
  width: 100%;
  border-collapse: collapse;
}

table.left-align {
    text-align: left;
}

table.top-align {
  vertical-align: top;
}

table.no-wrap {
  white-space: nowrap;
}

th,
td {
  padding: 6px;
  border: 1px solid var(--border-color-light);
}

tr th:first-of-type,
tr td:first-of-type {
  border-left: none;
}

tr th:last-of-type,
tr td:last-of-type {
  border-right: none;
}
