:root {
  --primary-color: #fc4c02;
  --secondary-color: #ffa41a;
}

/*

$font-color: #999
$font-color-dark: #222
$link-color: #5af
$border-color: #ddd

$code-bg-color: #444
$bg-color: #fff

$twitter-color: #00aced
$fb-color: #325a97

// Layout
$page-max-width: 400px
$post-max-width: 480px
$code-max-width: 800px

*/
