:root {
  --primary-color: #fc4c02;
  --secondary-color: #f68727;
  --muted-color: #777;
  --link-color: #05f;

  --border-color: #ccc;

  --nav-width: 140px;
  --gutter: 12px;
  --post-max-width: 960px;
  --text-max-width: 480px;
  --code-max-width: 480px;

  --border-radius: 4px;


  --monospace: Menlo, Consolas, Monaco, Lucida Console, monospace;
}
