:root {
  --color: #000;
  --primary-color: #fc4c02;
  --secondary-color: #f68727;
  --muted-color: #777;
  --link-color: #05f;

  --border-color: #ccc;

  --nav-width: 140px;
  --gutter: 12px;
  --post-max-width: 960px;
  --text-max-width: 540px;
  --code-max-width: 540px;

  --border-radius: 4px;
  --border-radius-large: 6px;
  --border-radius-xl: 8px;

  --monospace: Menlo, Consolas, Monaco, Lucida Console, monospace;
}
