<section class="sidebar">
  <h1 class="logo"><a href="{{ root_url }}/">{{ site.title }}</a></h1>

  <nav role="navigation" class="main-nav">{% include navigation.html %}</nav>

   <p class="read-more-section">Read more:<br />
    <a href="#archives">Archives</a>
  </p>

   <p>Find me elsewhere:<br />
    <a href="https://twitter.com/lokesh">Twitter</a><br />
    <a href="http://github.com/lokesh">Github</a><br />
    <a href="http://www.linkedin.com/in/lokeshdhakar">LinkedIn</a><br />
    <a href="http://dribbble.com/lokesh">Dribbble</a>
  </p>
  <p>Get in touch:<br />
    <a href="#" class="email-link">Email</a>
  </p>


</section>