<!doctype html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ (title + ' | ' + site.title) if title else site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="apple-touch-icon" href="icon.png">-->
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/vars.css">
    <link rel="stylesheet" href="/css/main.css">

    {% block head %}{% endblock %}
  </head>
  <body>

    <nav class="nav">
      <div class="nav__internal-links">
        <a href="/" class="nav__item">Home</a>
        <a href="/blog/" class="nav__item">Blog</a>
        <a href="/notes/" class="nav__item">Notes</a>
        <a href="/running/" class="nav__item">Running</a>
        <a href="/inspiration/" class="nav__item">Inspiration</a>
      </div>
      <div class="nav__divider"></div>
      <div class="nav__external-link">
        <a href="https://twitter.com/lokesh" class="nav__item" target="_blank">Twitter</a>
        <a href="#" class="nav__item js-email-link">Email</a>
      </div>
    </nav>

    {% block main %}
      {{ contents | safe }}
    {% endblock %}


    <script src="/js/activate-email-links.js"></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2196019-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-2196019-1');
    </script>

    <!--<script src="http://localhost:35729/livereload.js"></script>-->
  </body>
</html>
