<!doctype html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ (title + ' | ' + site.title) if title else site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="apple-touch-icon" href="icon.png">-->
    <!-- Place favicon.ico in the root directory -->

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

    {% block head %}{% endblock %}
  </head>
  <body>

    <nav class="nav">
      <div class="nav__list">
        <a href="/" class="nav__item">Home</a>
        <a href="/projects/" class="nav__item">Projects</a>
        <a href="/notes/" class="nav__item">Notes</a>
        <a href="/sketches/" class="nav__item">Sketches</a>
        <a href="/blog/" class="nav__item">Blog</a>
        <a href="/running/" class="nav__item nav__item">Running</a>
        <a href="/style-guide/" class="nav__item nav__item--mobile-last">Style guide</a>
        <!-- <a href="/inspiration/" class="nav__item nav__item--hide-mobile">Inspiration</a>-->
      </div>
      <div class="nav__list">
        <a href="https://twitter.com/lokesh" class="nav__item" target="_blank">Twitter</a>
        <a href="#" class="nav__item js-email-link">Email</a>
      </div>
    </nav>

    {% block main %}
      {{ contents | safe }}
    {% endblock %}


    <script src="/js/activate-email-links.js"></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2196019-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-2196019-1');
    </script>

    <script>
      if (window.location.hostname === 'localhost') {
        document.addEventListener('DOMContentLoaded', (e) => {
          const scriptEl = document.createElement('script');
          scriptEl.setAttribute('src', 'http://localhost:35729/livereload.js');
          document.body.appendChild(scriptEl);
        });
      }
    </script>
  </body>
</html>
