p #[span.bio__name Lokesh Dhakar]. Designer and developer living in San Francisco. Previously Engineering Lead of Web Team at #[a(href='http://getaround.com') Getaround]. Creator of two popular open source projects: #[a(href='http://lokeshdhakar.com/projects/lightbox2/') Lightbox] and #[a(href='http://lokeshdhakar.com/projects/color-thief/') Color Thief]. Maker of this #[a(href='http://lokeshdhakar.com/coffee-drinks-illustrated/') coffee drink illustration] which made the rounds.

a.post-bio__btn(href="https://twitter.com/lokesh") Follow me on Twitter
a.post-bio__btn.js-email-link(href="#") Email me
