{% extends 'base.njk' %}

{% block main %}
  <article class="post">
    <header>
      <h1 class="post__title">{{ title }}</h1>
    </header>
    <main class="post__content">
      {{ contents | safe }}
    </main>
  </article>

{% endblock %}


