.post-sharing
  h3 Enjoyed this post? Share it!
  a.twitter-btn(href='https://twitter.com/intent/tweet?text=' + title + '&url=' + site.url + '/' + path + '&via=lokesh') Tweet
  a.fb-btn(href='https://www.facebook.com/dialog/share?app_id=253823227983492&href=' + site.url + '/' + path + '&redirect_uri=' + site.url + '/' + path) Share on Facebook
